<h1>Stupid Coaching</h1>

<div class="container">
  <div class="chat">
    <p><%= params[:question] %></p>
    <%= link_to "- You", "/ask" %>
  </div>

  <div class="chat">
    <p><%=@answer%></p>
    <%= link_to "- Your coach", "/answer" %>
  </div>
</div>